{% extends "reprise.html"%}
{% block content %}
     <div class="container">
     <h3><I>Cadastro</I></h3>
        <form action="" method="post">
            {{ form.hidden_tag() }}

                {{ form.nome_completo.label(class='end') }}
                {{ form.nome_completo() }}

                <p>{{ form.data_nascimento.label(class='end') }}
                {{ form.data_nascimento() }}</p>

                <p>{{ form.UF.label(class='end') }}
                {{ form.UF() }}</p>
                
                <p>{{ form.email.label(class='end') }}
                {{ form.email() }}</p>

                <p>{{ form.senha.label(class='end') }}
                {{ form.senha() }}</p>

                <p>{{ form.confirmar_senha.label(class='end') }}
                {{ form.confirmar_senha() }}</p>

                <div class="end">{{ form.btn() }}</div>
        </form>
    </div>
{% endblock %}