{% extends "reprise.html" %}
{% block content %}
<h2><i>HOME</i></h2>
<hr>
<div class="end"><a href="{{url_for('home')}}"><button>Voltar</button></a></div>
<div class="center">
        <h3><I>Cadastro</I></h3>
        <form action="/cadastro" method="post">
            {{ cadform.hidden_tag() }}

                {{ cadform.nome_completo.label(class='end') }}
                {{ cadform.nome_completo() }}

                <p>{{ cadform.data_nascimento.label(class='end') }}
                {{ cadform.data_nascimento() }}</p>

                <p>{{ cadform.UF.label(class='end') }}
                {{ cadform.UF() }}</p>
                
                <p>{{ cadform.email.label(class='end') }}
                {{ cadform.email() }}</p>

                <p>{{ cadform.senha.label(class='end') }}
                {{ cadform.senha() }}</p>
                
                <p>{{ cadform.confirmar_senha.label(class='end') }}
                {{ cadform.confirmar_senha() }}</p>
            
                <small style="color: rgb(207, 1, 1)">
                {% for erro in cadform.confirmar_senha.errors %}{{ erro }}</small>
                {% endfor %}
                

                <p><div>{{ cadform.btn() }}</div></p>
        </form>
        </div>

{% endblock %}