<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <style>
        .container{
            width: 300px;
            right: 300px;
        }
        .end{
            text-align: end;
        }

    </style>
</head>
<body>
    <h1>Sobre Mim</h1>
    <hr>
    <h2>💻 Julia Ribeiro de Souza - Desenvolvedora Back-end</h2>
    Sou uma desenvolvedora back-end autodidata, natural de Niterói, RJ. Minha trajetória na tecnologia começou a partir da curiosidade e do interesse em entender como as coisas funcionam por trás das telas. Essa curiosidade rapidamente se transformou em paixão pela programação e, ao mesmo tempo, em uma oportunidade de crescimento no mercado de trabalho.
    O aprendizado independente me trouxe disciplina, resiliência e a habilidade de buscar soluções por conta própria. Encontrei no desenvolvimento back-end o espaço ideal para aplicar lógica, estruturar sistemas e transformar ideias em soluções práticas.
    Minha motivação é crescer continuamente como profissional, aprimorando minhas habilidades técnicas e humanas, e alavancar minha carreira em projetos que tenham impacto real. Estou sempre em busca de novos desafios que me permitam aprender, colaborar e evoluir junto com a área de tecnologia.
</body>
</html>